<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_home_guang_c</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>150</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_home_guang_c</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_service_menu_thumn</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_service_menu_thumn</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_home_guang_c</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_home_guang_c</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_home_guang_c</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_home_guang_c</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_home_guang_c</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_me_manageshop_dianzhao</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_home_guang_c</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_home_guang_c</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_me_manageshop_dianzhao</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_home_guang_c</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_me_manageshop_dianzhao</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_service_menu_thumn</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_home_guang_c</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_service_menu_thumn</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_home_guang_c</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_service_menu_thumn</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_home_guang_c</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_home_guang_c</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_home_guang_c</string>
	</dict>
	<dict>
		<key>width</key>
		<integer>200</integer>
		<key>height</key>
		<integer>100</integer>
		<key>price</key>
		<string>特价50</string>
		<key>image</key>
		<string>mayi_home_guang_c</string>
	</dict>
</array>
</plist>
